.contact-list {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @include desktop {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
}

.contact-list__item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @include desktop {
      margin-right: 50px;
    }
  }
}
.contact-list__link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--primary-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  display: inline-block;
  fill: currentColor;
  transition: fill var(--primary-transition);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
  }
}
