.features__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @include tablet {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.features__thumb {
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
