.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
  color: var(--primary-white-color);
}

.container.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-wrap {
  // @media screen and (min-width: 768px) and (max-width: 1199px)
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include desktop {
      align-items: baseline;
    }
  }
}

.footer-thumb {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 60px;
  @include desktop {
    flex-grow: 1;
    align-items: flex-start;
    text-align: left;
  }
}

.page-footer .logo {
  display: inline-block;

  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address-list {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--primary-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list-link.address {
  color: var(--primary-white-color);
}

.footer-socials-wrap {
  // margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @include desktop {
    align-items: flex-start;
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  @include desktop {
    margin-right: auto;
  }
}

.socials-list .footer {
  // display: flex;
}

.socials-link.footer {
  background-color: var(--icon-bg-color);
  transition: background-color var(--primary-transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials-icon.footer {
  fill: var(--primary-white-color);
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-left: 93px;
  }
}

.subscribe-form {
  @include desktop {
    display: flex;
  }
}

.subscribe-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.subscribe-input {
  width: 90vw;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  margin: 0 auto;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @include desktop {
    width: 358px;
  }
}

.main__btn.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include desktop {
    margin-left: 10px;
    height: 50px;
  }
}
