.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }
}

.logo-container {
  display: flex;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  @include desktop {
    margin-right: auto;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.no-scroll {
  overflow: hidden;
}
