.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--primary-white-color);
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: auto;
  transition: opacity var(--primary-transition), visibility var(--primary-transition);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 22px;
  margin-top: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--primary-transition);
  .mob-menu__icon {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  @include tablet {
    display: none;
  }
}

.mob-menu__close-btn {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 21px;
  right: 25px;
  background-color: transparent;

  transition: fill var(--primary-transition);
  .mob-menu__close-icon {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

.mob-menu-site-nav__item,
.mob-menu-contact-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.mob-menu-site-nav__link--current-mob {
  color: var(--accent-color);
}

.mob-menu-contact-list {
  margin-bottom: 64px;
}

.mob-menu-contact-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (max-width: 380px) {
    font-size: 30px;
  }
}

.mob-menu-contact-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mob-menu-socials-list {
  display: flex;
}

.mob-menu-socials-item {
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-menu-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (max-width: 380px) {
    font-size: 14px;
  }
}
