.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.filters-list-item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.filter-btn {
  padding: 6px 22px;

  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;

  border-radius: 4px;

  transition: color var(--primary-transition), background-color var(--primary-transition),
    box-shadow var(--primary-transition);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -15px;
  }
}

.card-list-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-list-item {
  // width: 370px;
  // margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  @include tablet {
    max-width: 354px;
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.card-list-link {
  display: block;
  transition: box-shadow var(--primary-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card-box {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

// .card-list-item:nth-child(3n) {
//   margin-right: 0;
// }

// .card-list-item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

.card-list-top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list-link {
  text-decoration: none;
}

.card-list-top-text {
  position: absolute;
  top: 0px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.6;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--primary-transition);

  .card-list-link:hover &,
  .card-list-link:focus & {
    transform: translateY(0%);
  }
}

.card-list-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
