.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item + .socials-item {
  margin-left: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--primary-transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials-icon {
  fill: var(--icon-color);

  transition: fill var(--primary-transition);

  .socials-link:hover &,
  .socials-link:focus & {
    fill: var(--primary-white-color);
  }
}
