.team-list {
  display: flex;
  text-align: center;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team-box {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
