.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition), visibility var(--primary-transition);
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 400ms ease-out;
  transform: scale(1) rotate(0) translate(-50%, -50%);

  .backdrop.is-hidden & {
    transform: scale(0) rotate(-280deg);
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--primary-transition);
}

.modal-close-icon {
  fill: #000000;

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  position: relative;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-list {
  margin-bottom: 10px;
}

.modal-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--title-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color var(--primary-transition);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--primary-transition);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.user-comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  transition: border-color var(--primary-transition);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.input-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.check-wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.span-icon {
  margin-right: 8px;
}

.check-icon {
  fill: transparent;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-link {
  color: var(--accent-color);
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
